@model CandidateDetailVM
@{
    ViewBag.Title = "Candidate - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="candidates-profile-bg" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="candidates-profile-details text-center">
                    <img src="~/Uploads/images/@Model.Candidate.Photo" class="img-fluid d-block mx-auto rounded-circle img-thumbnail mb-4">
                    <h4 class="text-white candidates-profile-name mb-2">@(Model.Candidate.Firstname + " " + Model.Candidate.Lastname)</h4>
                    <p class="text-white-50 mb-2"><i class="mdi mdi-bank mr-2"></i>@(Model.Candidate.Experiences.OrderByDescending(c => c.BeginDate).FirstOrDefault()?.Company)</p>
                    <ul class="candidates-profile-icons list-inline mb-3">
                        <li class="list-inline-item text-white-50 pr-2 f-16">@Model.Candidate.Profession</li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                    </ul>

                    <ul class="candidates-profile-social-icons list-inline mb-0">
                        @foreach (var social in Model.Candidate.CandidateSocials)
                        {
                            <li class="list-inline-item"><a href="@social.Link" class="" target="_blank"><i class="mdi mdi-@social.SocialLink.Name"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- CANDIDATES PROFILE START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark">About Us</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="job-detail-desc">
                        @Html.Raw(Model.Candidate.AboutMe)
                    </div>
                    <hr>
                    <ul class="list-inline mt-3 mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#" class="text-muted f-15 mb-0"><i class="mdi mdi-map-marker mr-2"></i>@Model.Candidate.Country @Model.Candidate.City, @Model.Candidate.Address</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="#" class="text-muted f-15 mb-0"><i class="mdi mdi-web mr-2"></i>@Model.Candidate.Website</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="#" class="text-muted f-15 mb-0"><i class="mdi mdi-email mr-2"></i>@Model.Candidate.Email</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="#" class="text-muted f-15 mb-0"><i class="mdi mdi-cellphone-iphone mr-2"></i>@Model.Candidate.Phone</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-4">Overview</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="job-detail-desc">
                        @Html.Raw(Model.Candidate.Overview)
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Candidate.Educations.Count > 0)
        {
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-dark mt-4 mb-4">Education</h3>
                </div>
            </div>
        }
        <div class="row">
            @foreach (var edu in Model.Candidate.Educations)
            {
                <div class="col-lg-4">
                    <div class="job-detail candidates-profile-education text-center text-muted mb-5 mt-5">
                        <div class="profile-education-icon">
                            <i class="mdi mdi-school"></i>
                        </div>
                        <h6 class="text-uppercase f-17"><a href="#" class="text-muted">@edu.University</a></h6>
                        <p class="f-14 mb-1">@edu.BeginDate.ToString("MMM yyyy") - @edu.FinalDate.ToString("MMM yyyy")</p>
                        <p class="f-14 mb-0">@edu.CourseTitle</p>
                        <hr class="mt-2 mb-2">
                        <p class="f-14 mb-0">@edu.JobEduLevel</p>
                    </div>
                </div>
            }
        </div>
        @if (Model.Candidate.Experiences.Count > 0)
        {
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-dark mb-4">Experience</h3>
                </div>
            </div>
        }


        <div class="row">
            @foreach (var exp in Model.Candidate.Experiences)
            {<div class="col-md-6">
                    <div class="job-detail job-list-box mt-4 p-4">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="company-brand-logo text-center mb-4">
                                    <img src="~/Uploads/images/featured-job/img-2.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>

                            <div class="col-lg-9">
                                <div class="job-list-desc candidates-profile-exp-desc">
                                    <h5 class="f-19 mb-2"><a href="#" class="text-dark">@exp.Company</a></h5>
                                    <p class="text-muted mb-0 f-16">@exp.Category.Name</p>
                                    <p class="text-muted mb-0 f-16">@exp.BeginDate.ToString("MMM yyyy") - @exp.FinalDate.ToString("MMM yyyy")</p>
                                    <p class="text-muted mb-0 f-16">Salary : $@exp.Salary</p>
                                    <p class="text-muted mb-0 f-16"><i class="mdi mdi-bank mr-2"></i>@exp.Website</p>
                                    <p class="text-muted mb-0 f-16"><i class="mdi mdi-map-marker mr-2"></i>@exp.Address</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.Candidate.Skils.Count > 0)
        {
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-dark mt-4">Skills</h3>
                </div>
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row">
                    @foreach (var skill in Model.Candidate.Skils)
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="text-center mt-4">
                                <div class="skills chart" data-percent="@skill.Degree">
                                    <div class="pie-chart-value">@skill.Degree %</div>
                                </div>
                                <h5 class="text-muted mt-4 mb-0">@skill.Name</h5>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CANDIDATES PROFILE END -->


@section scripts{

    <script src="~/Public/js/jquery.easypiechart.min.js"></script>

    <script src="~/Public/js/jquery.nice-select.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.chart').easyPieChart({
                //your configuration goes here
            });
        });
    </script>
}
