@model AboutVM
@{
    ViewBag.Title = "Page-About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about-bg" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    @{Html.RenderPartial("~/Views/Shared/_Breadcrumb.cshtml",model:Model.breadcrumb);}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- ABOUT US START -->
<section class="section">
    <div class="container">
        <div class="row">
            @foreach (var about in Model.Abouts)
            {
                <div class="col-lg-4">
                    <div class="about-desc">
                        <h5 class="text-dark">@about.Title</h5>
                       @Html.Raw(about.Content)
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- ABOUT US END -->
<!-- COUNTER START -->
<section class="section bg-light">
    <div class="container">
        <div class="blog-post-counter">
            @{Html.RenderPartial("~/Views/Shared/_AllInfoCounter.cshtml", model: Model.Jobs); }
        </div>
    </div>
</section>
<!-- COUNTER END -->
<!-- COMPANY TESTIMONIAL START -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h3 class="text-dark font-weight-light">Company Testimonial</h3>
                <div class="blog-post-border mt-3 mb-3"></div>
                <h5 class="text-muted mb-1">@Model.Employer.CompanyName</h5>
                <p class="mb-4 f-16"><a href="#" class="text-muted"><i class="mdi mdi-earth mr-2"></i>@Model.Employer.CompanyWebsite</a></p>
                @Html.Raw(Model.Employer.Services)
                <hr>

                <ul class="list-inline mb-4">
                    <li class="list-inline-item">
                        <a href="@Url.Action("details","employer",new { slug=Model.Employer.Slug})" class="btn btn-outline">Learn More</a>
                    </li>
                    <li class="list-inline-item float-right mt-2">
                        <ul class="list-inline bolg-post-icon mb-0">
                            @foreach (var social in ViewBag.Setting.SettingSocials)
                            {
                                <li class="list-inline-item f-20"><a target="_blank" href="@social.Link" class=""><i class="mdi mdi-@social.SocialLink.Name"></i></a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-7">
                <div class="blog-post-testi">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-4">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                @foreach (var photo in Model.Employer.CompanyPhotos.Take(4))
                                {
                                    <a class="nav-link about-us" id="v-pills-home-tab" data-toggle="pill" href="#@photo.Id" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                        <div class="blog-post-testi-img">
                                            <img src="~/Uploads/images/@photo.Photo" alt="" class="img-fluid mx-auto d-block rounded">
                                            <div class="blog-post-overlay">
                                                <div class="blog-post-testi-icon text-center">
                                                    <i class="mdi mdi-plus-circle-outline text-white h4"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-9 col-8">
                            <div class="tab-content" id="v-pills-tabContent">
                                @foreach (var photo in Model.Employer.CompanyPhotos.Take(4))
                                {
                                    <div class="tab-pane fade @(photo.Id==22?"show active":"")" id="@photo.Id" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                        <div>
                                            <img src="~/Uploads/images/@photo.Photo" alt="" class="img-fluid mx-auto d-block rounded">
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COMPANY TESTIMONIAL START -->
<!-- DOWNLOAD APP START -->
<section class="counter-bg">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1 order-2">
                <div class="job-about-app-img mt-40">
                    <img src="~/Public/images/app-download-img.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>

            <div class="col-md-6 order-md-2 order-1">
                <div class="app-about-content">
                    <div class="app-about-desc text-white">
                        <h4 class="text-white mb-3 font-weight-light">Get Job App For Your Mobile</h4>
                        <p class="mb-4 f-15 font-weight-light text-white-50">Etiam ultricies nisi vel that augue Curabitur ullamcorper ultricies adipiscing Nam at Etiam rhoncus Maecenas tempus tellus rhoncus ultricies eget condimentum rhoncus massa Sed cursus semquam.</p>
                        <div>

                            <a href="#" class="btn app-btn btn-outline mr-2 mb-3">
                                <div class="app-store">
                                    <div class="float-left">
                                        <i class="mdi mdi-cellphone-iphone h1"></i>
                                    </div>
                                    <div class="float-right">
                                        <p class="font-weight-light space f-12 mb-0">Available on the iphone</p>
                                        <h5 class="mb-0 f-18">App Store</h5>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="btn app-btn btn-outline mb-3">
                                <div class="app-store">
                                    <div class="float-left">
                                        <i class="mdi mdi-google-play h1"></i>
                                    </div>
                                    <div class="float-right">
                                        <p class="font-weight-light space f-12 mb-0">Android app on</p>
                                        <h5 class="mb-0 f-18">Google play</h5>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- DOWNLOAD APP END -->
<!-- ABOUT CLIENTS START -->
<section class="section">
    <div class="container">
        @{Html.RenderPartial("~/Views/Shared/_Partners.cshtml",model:Model.Partners); }
    </div>
</section>
<!-- ABOUT CLIENTS END -->

@section scripts{

    <script src="~/Public/js/jquery.nice-select.min.js"></script>
}

