@model PricingVM
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="pricing-bg" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    @{Html.RenderPartial("~/Views/Shared/_Breadcrumb.cshtml",model:Model.breadcrumb);}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- PRICING START -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p class="text-muted text-center mb-4 f-17">Praesent venenatis metus at tortor pulvinar varius ipsum dolor amet consectetuer adipiscing Aenean commodo ligula.</p>
            </div>
        </div>

        <div class="row">
            @foreach (var price in Model.Pricing)
            {
                <div class="col-lg-4">
                    <div class="pricing-box list-grid-item p-4 mt-4">
                        <h5 class="text-muted text-center text-uppercase">@price.Name</h5>
                        <p class="text-muted text-center mb-0 price p-1"><span class="text-custom font-weight-normal"><sup>$</sup>@price.Amount/</span>Month</p>
                        <div class="pricing-plan-item text-center">
                            <ul class="list-unstyled mb-4">
                                <li class="text-muted"><i class="mdi mdi-minus mr-3"></i>Bandwidth: @price.Bandwidth GB</li>
                                <li class="text-muted"><i class="mdi mdi-minus mr-3"></i>Onlinespace: @price.Onlinespace MB</li>
                                <li class="text-muted"><i class="mdi mdi-minus mr-3"></i>Support: @(price.Support==true?"Yes":"No")</li>
                                <li class="text-muted"><i class="mdi mdi-minus mr-3"></i>Domain: @price.Domain</li>
                                <li class="text-muted"><i class="mdi mdi-minus mr-3"></i>Hidden Fees: @(price.Fees == true ? "Yes" : "No")</li>
                            </ul>
                            <div class="text-center mt-3">
                                <a href="#" class="btn btn-block pricing-btn btn-outline">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- PRICING END -->
<!-- CTA START -->
<section class="section cta-bg">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6 col-md-9">
                <div class="cta">
                    <h3 class="text-white font-weight-light mb-4">Become a part of Joobsey bussiness community today</h3>
                    <p class="text-white-50">At vero at a accusamus dignissimos ducimus deleniticorrupti that at blanditiis praesentium deleniticorrupti quos dolores molesti excepturi occaecati similiquesunt culpa officia at deserunt.</p>
                </div>
                <div class="mt-4">
                    <a href="#" class="btn btn-outline-light">Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CTA END -->
@section scripts{

    <script src="~/Public/js/jquery.nice-select.min.js"></script>
}