@model TeamVM
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="team-bg" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    @{Html.RenderPartial("~/Views/Shared/_Breadcrumb.cshtml",model:Model.breadcrumb);}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- TEAM START -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p class="text-muted text-center mb-4 f-17">Praesent venenatis metus at tortor pulvinar varius ipsum dolor amet consectetuer adipiscing Aenean commodo ligula.</p>
            </div>
        </div>

        <div class="row">
            @foreach (var team in Model.Teams)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="team-box text-center bg-white mt-4">
                        <div class="team-img">
                            <img src="~/Uploads/images/@team.Photo" alt="@team.Firstname" class="img-fluid d-block rounded">
                            <div class="team-name">
                                <h5 class="text-white f-18 font-weight-light mb-0">@team.Firstname @team.Lastname</h5>
                            </div>
                        </div>
                        <div class="team-content text-center p-3">
                            <div class="">
                                <p class="f-17 mb-0"><a href="#" class="text-dark">@team.Category.Name</a></p>
                                <p class="text-muted f-14 mb-0">@team.ShortInfo</p>
                                <div class="team-social-icon p-2">
                                    <ul class="blog-details-icons list-inline mb-0">
                                        @foreach (var soc in team.TeamSocials)
                                        {
                                            <li class="list-inline-item"><a href="@soc.Link" class=""><i class="mdi mdi-@soc.Social.Name"></i></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- TEAM END -->

@section scripts{

    <script src="~/Public/js/jquery.nice-select.min.js"></script>
}
