@model EmployerDetailVM
@{
    ViewBag.Title = "Employer-Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="employers-details-bg" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    @{Html.RenderPartial("~/Views/Shared/_Breadcrumb.cshtml",model:Model.Breadcrumb);}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- EMPLOYERS DETAILS START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center p-3">
                    <div class="employers-details-img mb-2">
                        <img width="100" src="~/Uploads/images/@Model.Employer.Photo" alt="@Model.Employer.Firstname" class="img-fluid mx-auto d-block rounded-circle">
                    </div>
                    <h3 class="font-weight-light"><a href="#" class="text-dark">@Model.Employer.CompanyName</a></h3>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <p class="text-muted mb-2"><i class="mdi mdi-map-marker mr-2"></i>@Model.Employer.CompanyAdress</p>
                        </li>

                        <li class="list-inline-item">
                            @if (Model.Employer.isVerified == true)
                            {
                                <p class="text-muted mb-2"><i class="mdi mdi-marker-check text-success mr-2"></i>Verified</p>
                            }
                            else
                            {
                                <p class="text-muted mb-2"><i class="mdi mdi-marker-check text-error mr-2"></i> No Verified</p>
                            }
                        </li>
                    </ul>

                    <ul class="list-inline mb-2">
                        <li class="list-inline-item mr-3 ">
                            <p class="text-muted mb-2"><i class="mdi mdi-earth mr-2"></i>@Model.Employer.CompanyWebsite</p>
                        </li>

                        <li class="list-inline-item mr-3">
                            <p class="text-muted mb-2"><i class="mdi mdi-email mr-2"></i>@Model.Employer.CompanyEmail</p>
                        </li>

                        <li class="list-inline-item">
                            <p class="text-muted mb-2"><i class="mdi mdi-cellphone-iphone mr-2"></i>@Model.Employer.CompanyPhone</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="employers-details p-3">
                    <div class="row justify-content-center">
                        <div class="col-lg-2 col-md-4">
                            <div class="text-center m-14">
                                <h5 class="font-weight-light text-dark mb-1">Employer</h5>
                                <p class="text-muted mb-0">@Model.Employer.Empl0yers +</p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="text-center m-14">
                                <h5 class="font-weight-light text-dark mb-1">Type</h5>
                                <p class="text-muted mb-0">@Model.Employer.Type</p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="text-center m-14">
                                <h5 class="font-weight-light text-dark mb-1">Experience</h5>
                                <p class="text-muted mb-0">@Model.Employer.ExperienceDate Years + Exp.</p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="text-center m-14">
                                <h5 class="font-weight-light text-dark mb-1">Salary</h5>
                                <p class="text-muted mb-0">$@(Model.Employer.minSalary?.ToString("#")) - $@(Model.Employer.maxSalary?.ToString("#"))/month</p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="text-center m-14">
                                <h5 class="font-weight-light text-dark mb-1">Followers</h5>
                                <p class="text-muted mb-0">@Model.Employer.Followers +</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-5">Company Overview</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="job-detail-desc">
                        @Html.Raw(Model.Employer.Overview)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-4">Services</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="job-detail-desc">
                        @Html.Raw(Model.Employer.Services)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-4">Company Review</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="employers-details-item mt-2">
                    @foreach (var rev in Model.Employer.EmployerReviews)
                    {
                        <div class="job-list-box job-list-desc p-3 mt-4">
                            <div class="row align-items-center">
                                <div class="col-md-2">
                                    <div class="employers-list-img mb-4">
                                        <img src="~/Uploads/images/@rev.Candidate.Photo" alt="@rev.Candidate.Firstname" class="img-fluid mx-auto d-block rounded-circle">
                                    </div>
                                </div>

                                <div class="col-md-7">
                                    <div class="grid-list-desc">
                                        <h5 class="mb-1"><a href="#" class="text-dark">@rev.Candidate.Firstname @rev.Candidate.Lastname</a></h5>
                                        <p class="text-muted f-15 mb-0">@rev.Candidate.Profession</p>
                                        <ul class="employers-icons list-inline mb-1">
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="employers-details-time">
                                        <h6 class="text-muted font-weight-light text-right mb-0"><i class="mdi mdi-clock-outline mr-2"></i>@((DateTime.Now-rev.Date).TotalMinutes.ToString("#")) minutes ago</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 offset-md-2">
                                    <hr class="employers-details-item-border mt-1 mb-2">
                                    <p class="text-muted mb-0">@rev.Text</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-3">
                <div class="employers-share-job mt-2">
                    <div class="job-detail">
                        <h6 class="text-dark text-center p-3 f-18 mb-0">Share This Job</h6>
                        <hr class="m-0">
                        <div class=" p-3 text-center">
                            <ul class="Share-job-social-icons list-inline mb-0">
                                @foreach (var social in ViewBag.Setting.SettingSocials)
                                {
                                    <li class="list-inline-item"><a target="_blank" href="@social.Link" class=""><i class="mdi mdi-@social.SocialLink.Name"></i></a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="map mt-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" width="100%" height="360" style="border: 0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- EMPLOYERS DETAILS END -->

@section scripts{

    <script src="~/Public/js/jquery.nice-select.min.js"></script>
}
