@model EmployerListVM
@{
    ViewBag.Title = "Employer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="employers-list-bg" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    @{Html.RenderPartial("~/Views/Shared/_Breadcrumb.cshtml",model:Model._SidebarVM.Breadcrumb);}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- REGISTRATION-FORM START -->
<div class="container">
    <div class="home-form-position">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="home-registration-form bg-white job-list-grid-reg-form mt-5 p-4 mb-3">
                    @{Html.RenderPartial("~/Views/Shared/_Searching.cshtml"); }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- REGISTRATION-FORM END -->

<section class="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="show-results mt-4">
                    <div class="float-left">
                        <h5 class="text-dark mb-0 pt-2">Showing  Results : @Model.Employers.Count</h5>
                    </div>
                    @{Html.RenderPartial("~/Views/Shared/_NiceSelect.cshtml", model: Model._SidebarVM.JobCategories); }
                </div>
            </div>
        </div>

        <div class="row">
            @{Html.RenderPartial("~/Views/Shared/_Sidebar.cshtml", model: Model._SidebarVM); }

            <div class="col-lg-9">
                <div class="row">
                    @foreach (var emp in Model.Employers)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="list-grid-item mt-4">
                                <div class="grid-item-content p-2">
                                    <div class="employers-list-img mt-3">
                                        <img src="~/Uploads/images/@emp.Photo" alt="@emp.Firstname" class="img-fluid mx-auto d-block rounded-circle">
                                    </div>
                                    <div class="grid-list-desc text-center mt-4">
                                        <h5 class="mb-1"><a href="#" class="text-dark">@emp.Firstname @emp.Lastname</a></h5>
                                        @{
                                            var sl = "";
                                            var count = 0;
                                            foreach (var cat in emp.EmployerCategory)
                                            {
                                                ++count;
                                                sl += cat.Category.Name + (count == emp.EmployerCategory.Count ? "" : ", ");
                                            }
                                        }
                                        <p class="text-muted f-14 mb-0">@sl</p>
                                        <p class="text-muted f-14 mb-0"><i class="mdi mdi-map-marker mr-2"></i>@emp.Address</p>
                                        <ul class="employers-icons list-inline mb-1">
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                                        </ul>
                                        <span class="badge badge-warning text-white">4.9</span>
                                    </div>
                                </div>
                                <hr class="mt-0 mb-0">
                                <div class="apply-button text-center mt-2 mb-2">
                                    <a href="@Url.Action("Details","Employer",new { slug=emp.Slug})" class="btn btn-custom btn-sm">View Profile</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

        @{Html.RenderPartial("~/Views/Shared/_Pagination.cshtml", model: Model.Pagination); }
    </div>
</section>


@section scripts{

    <script src="~/Public/js/jquery.nice-select.min.js"></script>
}