@model BlogDetailVM
@{
    ViewBag.Title = "Blog-Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-details-bg" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    @{Html.RenderPartial("~/Views/Shared/_Breadcrumb.cshtml",model:Model._Sidebar.Breadcrumb);}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- BLOG LIST START -->
<section class="section">
    <div class="container">
        <div class="row">
            @{Html.RenderPartial("~/Views/Shared/_Sidebar.cshtml", model: Model._Sidebar); }

            <div class="col-lg-8">
                <div class="job-detail mt-4 p-2">
                    <div class="blog-details-img">
                        <img src="~/Uploads/images/@Model.Blog.Photos" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="blog-details meta mt-2">
                        <ul class="list-inline mb-1">
                            <li class="list-inline-item mr-4">
                                <p class="text-muted mb-0"><i class="mdi mdi-calendar-range mr-1"></i>@Model.Blog.CreatedAt.ToString("dd-MMMM-yyyy")</p>
                            </li>

                            <li class="list-inline-item mr-4">
                                <p class="text-muted mb-0"><i class="mdi mdi-message-reply-text mr-1"></i>@Model.Blog.BlogReview.Count Comments</p>
                            </li>

                            <li class="list-inline-item">
                                <p class="text-muted mb-0"><i class="mdi mdi-layers mr-1"></i>@Model.Blog.Category.Name</p>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-details-desc p-2">
                        <h6 class="mb-3 f-18"><a href="#" class="text-dark">@Model.Blog.Title</a></h6>
                        @Html.Raw(Model.Blog.Content)
                        <hr class="mt-2 mb-2">
                    </div>
                </div>

                <h5 class="text-dark mt-4"><i class="mdi mdi-comment-multiple mr-2"></i>@Model.Blog.BlogReview.Where(c=>c.Status==true).Count() Comments</h5>

                <div class="job-detail p-4">
                    @foreach (var rev in Model.Blog.BlogReview.Where(c=>c.Status==true))
                    {
                        <div class="media mt-4">
                            <div class="blog-comment-img">
                                <img class="img-fluid d-block mx-auto rounded-circle" alt="" src="~/Uploads/images/@rev.Candidate.Photo">
                            </div>
                            <div class="media-body ml-3">
                                <h6 class="mb-0"><a href="#" class="text-dark">@rev.Candidate.Firstname @rev.Candidate.Lastname</a></h6>
                                <p class="text-muted mb-0">@rev.Date.ToString("dd, MMM, yyyy 'at' HH:mm tt")</p>
                                <p class="text-muted mb-2">When she reached the first hills of the Italic Mountains, she had a last view on the skyline her hometown the headline.</p>
                                <p class="mb-0"><a href="#" class="text-muted"><i class="mdi mdi-reply-all mr-2"></i>Reply</a></p>
                            </div>
                        </div>
                        <hr />
                    }

                </div>

                <h5 class="text-dark mt-4"><i class="mdi mdi-pencil mr-2"></i>Leave Your Comments</h5>
                <div class="job-detail p-4">
                    <div class="custom-form">
                        <form name="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group blog-details-form">
                                        <i class="mdi mdi-account text-muted f-17"></i>
                                        <input name="name" id="name" type="text" class="form-control blog-details" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group blog-details-form">
                                        <i class="mdi mdi-email text-muted f-17"></i>
                                        <input name="email" id="email" type="email" class="form-control blog-details" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group blog-details-form">
                                        <i class="mdi mdi-web text-muted f-17"></i>
                                        <input name="url" id="url" type="url" class="form-control blog-details" placeholder="url">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group blog-details-form">
                                        <i class="mdi mdi-comment-processing text-muted f-17"></i>
                                        <textarea name="comments" id="comments" rows="4" class="form-control blog-details" placeholder="Comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom" value="Post comment">
                                </div>
                            </div>
                        </form>
                        <!-- /form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BLOG LIST END -->

@section scripts{

    <script src="~/Public/js/jquery.nice-select.min.js"></script>
}