@model BlogListVM
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-list-bg" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    @{Html.RenderPartial("~/Views/Shared/_Breadcrumb.cshtml",model:Model._SidebarVM.Breadcrumb);}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- BLOG LIST START -->
<section class="section">
    <div class="container">
        <div class="row">
            @{Html.RenderPartial("~/Views/Shared/_Sidebar.cshtml", model: Model._SidebarVM); }

            <div class="col-lg-8 mb-5">
                @foreach (var blog in Model.Blogs)
                {
                    <div class="job-detail mt-4">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="blog-img">
                                    <img src="~/Uploads/images/@blog.Photos" alt="@blog.Slug" class="img-fluid rounded">
                                    <div class="blog-date text-center">
                                        <p class="text-white f-18 mb-0">@blog.CreatedAt.ToString("dd")</p>
                                        <p class="text-white f-18 mb-0">@blog.CreatedAt.ToString("MMM")</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="blog-list-desc m-14 p-3">
                                    <h5 class="f-16"><a href="#" class="text-dark">@blog.Title</a></h5>
                                    <p class="text-muted mb-2 f-14">At vero this accusamus iusto dignissimos corrupti ducim qui blanditiis voluptatum deleniti atque corrupti dolores molestias that excepturi a cupiditate non provident sunt i culpa.</p>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item float-left">
                                            <a href="@Url.Action("details","blog",new { slug=blog.Slug})" class="text-custom">
                                                <p class="mb-0">Read More <i class="mdi mdi-arrow-right ml-1"></i></p>
                                            </a>
                                        </li>
                                        <li class="list-inline-item float-right">
                                            <a href="@Url.Action("details","blog",new { slug=blog.Slug})" class="text-dark">
                                                <p class="mb-0"><i class="mdi mdi-message-reply-text mr-1"></i>@blog.BlogReview.Where(c => c.Status == true).Count() Comment</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @{Html.RenderPartial("~/Views/Shared/_Pagination.cshtml", model: Model.Pagination); }
    </div>
</section>
<!-- BLOG LIST END -->

@section scripts{

    <script src="~/Public/js/jquery.nice-select.min.js"></script>
}