@model ICollection<Job>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="popu-category-box bg-light rounded text-center mt-4 p-4">
            <div class="popu-category-icon mb-3">
                <i class="mdi mdi-account h2 text-custom"></i>
            </div>
            <div class="popu-category-content">
                <h5 class="f-18 mb-4"><a href="@Url.Action("Index", "Job")" class="text-dark">Developer</a></h5>
                <p class="text-custom mb-0 rounded">@Model.Where(j => j.Category.Name.Contains("Develop")).Count() Jobs</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="popu-category-box bg-light rounded text-center mt-4 p-4">
            <div class="popu-category-icon mb-3">
                <i class="mdi mdi-desktop-classic h2 text-custom"></i>
            </div>
            <div class="popu-category-content">
                <h5 class="f-18 mb-4"><a href="@Url.Action("Index", "Job")" class="text-dark">Technology</a></h5>
                <p class="text-custom mb-0 rounded">@(Model.Where(j => j.Category.Name.Contains("Develop")).Count() + @Model.Where(j => j.Category.Name.Contains("Dsign")).Count()) Jobs</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="popu-category-box bg-light rounded text-center mt-4 p-4">
            <div class="popu-category-icon mb-3">
                <i class="mdi mdi-bank h2 text-custom"></i>
            </div>
            <div class="popu-category-content">
                <h5 class="f-18 mb-4"><a href="@Url.Action("Index", "Job")" class="text-dark">Government</a></h5>
                <p class="text-custom mb-0 rounded">@Model.Where(j => j.Category.Name.Contains("Gov")).Count() Jobs</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="popu-category-box bg-light rounded text-center mt-4 p-4">
            <div class="popu-category-icon mb-3">
                <i class="mdi mdi-auto-fix h2 text-custom"></i>
            </div>
            <div class="popu-category-content">
                <h5 class="f-18 mb-4"><a href="@Url.Action("Index", "Job")" class="text-dark">All Jobs</a></h5>
                <p class="text-custom mb-0 rounded">@Model.Count + Jobs</p>
            </div>
        </div>
    </div>
</div>
