@model _SidebarVM
<div class="@(Model.Breadcrumb.Title.Contains("Blog")?"col-lg-4":"col-lg-3")">
    <div class="left-sidebar">
        <div class="accordion" id="accordionExample">

            @if (Model.Breadcrumb.Title.Contains("Blog"))
            {
                <form>
                    <input class="form-control search-form mt-4" type="search" placeholder="Search...">
                    <button class="search-button" type="submit"><a href="#" class="text-dark"><span class="mdi mdi-magnify"></span></a></button>
                </form>
            }

            <div class="card mt-4">

                @if (Model.Breadcrumb.Title.Contains("JOB") || Model.Breadcrumb.Title.Contains("Employer"))
                {
                    <a data-toggle="collapse" href="#collapseOne" class="job-list" aria-expanded="true" aria-controls="collapseOne">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 text-dark f-18">Date Posted</h6>
                        </div>
                    </a>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body p-0">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio1">Last Hour</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio2">Last 24 hours</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio3">Last 7 days</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio4">Last 14 days</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio5">Last 30 days</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="card mt-4">

                @if (Model.Breadcrumb.Title.Contains("Candidates"))
                {
                    <a data-toggle="collapse" href="#collapseOne" class="job-list" aria-expanded="true" aria-controls="collapseOne">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 text-dark f-18">Job Type</h6>
                        </div>
                    </a>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body p-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input all-select" id="customCheckAll">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customCheckAll">@JobType.Fulltime</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input all-select" id="customCheck22">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customCheck22">@JobType.Parttime</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- collapse one end -->
            <div class="card mt-4">

                @if (Model.Breadcrumb.Title.Contains("JOB") || Model.Breadcrumb.Title.Contains("Blog") || Model.Breadcrumb.Title.Contains("Employer"))
                {
                    <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="true" aria-controls="collapsetwo">
                        <div class="card-header" id="headingtwo">
                            <h6 class="mb-0 text-dark f-18">Categories</h6>
                        </div>
                    </a>
                    <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                        <div class="card-body p-0">
                            @foreach (var categ in Model.JobCategories)
                            {
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="@categ.Id" name="customRadio1" class="custom-control-input">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="@categ.Id">@categ.Name</label>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
            @if (Model.Breadcrumb.Title.Contains("Blog"))
            {
                foreach (var blog in Model.ArchiveBlogs)
                {
                    <div class="job-detail mt-4">
                        <h5 class="text-dark text-center p-2 mb-0">Archives</h5>
                        <hr class="m-0">
                        <div class=" p-3">
                            <div class="media">
                                <div class="blog-list-img mr-2">
                                    <img src="~/Uploads/images/@blog.Photos" alt="@blog.Title" class="img-fluid mx-auto d-block rounded">
                                </div>
                                <div class="media-body ml-2">
                                    <p class="mb-0 text-muted mb-0 f-13"><a href="#" class="text-dark">@blog.Title</a></p>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="@Url.Action("details","blog",new { slug=blog.Slug})" class="text-dark">
                                                <p class="mb-0">View all</p>
                                            </a>
                                        </li>
                                        <li class="list-inline-item float-right">
                                            <p class="text-dark mb-0">@blog.CreatedAt.ToString("dd-MMM-yyyy")</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
            <div class="card mt-4">
                @if (Model.Breadcrumb.Title.Contains("Candidates"))
                {
                    <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="true" aria-controls="collapsetwo">
                        <div class="card-header" id="headingtwo">
                            <h6 class="mb-0 text-dark f-18">Skills</h6>
                        </div>
                    </a>
                    <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                        <div class="card-body p-0">
                            @foreach (var skill in Model.Skills)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                                    <label class="custom-control-label ml-1 text-muted f-15" for="customCheck5">@skill.Name</label>
                                </div>
                            }

                        </div>
                    </div>
                }
            </div>
            <!-- collapse one end -->
            <div class="card mt-4">
                @if (Model.Breadcrumb.Title.Contains("JOB") || Model.Breadcrumb.Title.Contains("Candidates"))
                {
                    <a data-toggle="collapse" href="#collapsethree" class="job-list" aria-expanded="true" aria-controls="collapsethree">
                        <div class="card-header" id="headingthree">
                            <h6 class="mb-0 text-dark f-18">Experince</h6>
                        </div>
                    </a>
                    <div id="collapsethree" class="collapse show" aria-labelledby="headingthree">
                        <div class="card-body p-0">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio13" name="customRadio2" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio13">@JobExpYear.One Year</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio14" name="customRadio2" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio14">@JobExpYear.Two Years</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio15" name="customRadio2" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio15">@JobExpYear.Three Tears</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- collapse one end -->

            <div class="card mt-4">
                @if (Model.Breadcrumb.Title.Contains("JOB") || Model.Breadcrumb.Title.Contains("Candidates") || Model.Breadcrumb.Title.Contains("Employer"))
                {
                    <a data-toggle="collapse" href="#collapsefour" class="job-list" aria-expanded="true" aria-controls="collapsefour">
                        <div class="card-header" id="headingfour">
                            <h6 class="mb-0 text-dark f-18">Gender</h6>
                        </div>
                    </a>
                    <div id="collapsefour" class="collapse show" aria-labelledby="headingfour">
                        <div class="card-body p-0">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio17" name="customRadio3" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio17">@Gender.All</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio18" name="customRadio3" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio18">@Gender.Male</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio19" name="customRadio3" class="custom-control-input">
                                <label class="custom-control-label ml-1 text-muted f-15" for="customRadio19">@Gender.Female</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- collapse one end -->
        </div>
    </div>
</div>
