@model JobDetailVM
@{
    ViewBag.Title = "Job-Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="job-details" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    @{Html.RenderPartial("~/Views/Shared/_Breadcrumb.cshtml",model:Model.Breadcrumb);}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- JOB DETAILS START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark">Job Details</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="job-detail mt-2 p-4">
                    <div class="job-detail-content">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="job-detail-logo-img">
                                    <img src="~/Uploads/images/@Model.Job.Photo" alt="@Model.Job.CompanyName" class="img-fluid mx-auto d-block">
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="job-detail-com-desc">
                                    <h4 class="mb-2"><a href="#" class="text-dark">@Model.Job.Category.Name</a></h4>
                                    <p class="text-muted mb-0"><i class="mdi mdi-link-variant mr-2"></i>@Model.Job.CompanyName</p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>@Model.Job.Address</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="job-detail-desc">
                        <p class="text-muted f-14 mb-3">@Model.Job.Title</p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-dark mt-4">Job Description</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="job-detail mt-2 p-4">
                            <div class="job-detail-desc">
                                @Html.Raw(Model.Job.Desc)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-dark mt-4">Qualification</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="job-detail mt-2 p-4">
                            <div class="job-detail-desc">
                                @foreach (var qual in Model.Job.Qualifications)
                                {
                                    <div class="job-details-desc-item">
                                        <div class="float-left mr-3">
                                            <i class="mdi mdi-send text-custom f-16"></i>
                                        </div>
                                        <p class="text-muted f-14 mb-2">@qual.Content</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-dark mt-4">Primary Responsibilities</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="job-detail mt-2 p-4">
                            <div class="job-detail-desc">
                                @foreach (var res in Model.Job.Responsibilities)
                                {
                                    <div class="job-details-desc-item">
                                        <div class="float-left mr-3">
                                            <i class="mdi mdi-send text-custom f-16"></i>
                                        </div>
                                        <p class="text-muted f-14 mb-2">@res.Content</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="job-detail mt-2 mt-40 p-2">
                    <h5 class="text-muted text-center mb-1 p-2"><i class="mdi mdi-map-marker mr-2"></i>Location</h5>
                    <hr class="mt-0 mb-0">

                    <div class="job-detail-location p-2">
                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-bank text-muted f-16"></i>
                            </div>
                            <p class="text-muted mb-2 f-14">: @Model.Job.CompanyName</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-email text-muted f-16"></i>
                            </div>
                            <p class="text-muted mb-2 f-14">: @Model.Job.Email</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-web text-muted f-16"></i>
                            </div>
                            <p class="text-muted mb-2 f-14">: @Model.Job.WebSite</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-cellphone-iphone text-muted f-16"></i>
                            </div>
                            <p class="text-muted mb-2 f-14">: @Model.Job.Phone</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-currency-usd text-muted f-16"></i>
                            </div>
                            <p class="text-muted mb-2 f-14">: $@(Model.Job.MinSalary?.ToString("#")) - $@(Model.Job.MaxSalary?.ToString("#"))/month</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-security text-muted f-16"></i>
                            </div>
                            <p class="text-muted mb-2 f-14">: @Model.Job.JobExpYear Years</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-clock-outline text-muted f-16"></i>
                            </div>
                            <p class="text-muted mb-2 f-14">: @((int)(DateTime.Now-Model.Job.CreatedAt).TotalMinutes) minutes ago</p>
                        </div>

                        <h6 class="text-dark f-17 mt-3 mb-0">Share Job</h6>
                        <ul class="job-detail-icons list-inline mt-2 mb-0">
                            @foreach (var social in ViewBag.Setting.SettingSocials)
                            {
                                <li class="list-inline-item"><a href="@social.Link" class=""><i class="mdi mdi-@social.SocialLink.Name"></i></a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="job-detail mt-4 p-2">
                    <h5 class="text-muted text-center mb-1 p-2"><i class="mdi mdi-clock-outline mr-2"></i>Opening Hours</h5>
                    <hr class="mt-0 mb-0">

                    <div class="job-detail-time p-2">
                        <ul class="list-inline mb-0">
                            @if (Model.Job.OpeningHours!=null)
                            {
                                foreach(var hour in Model.Job.OpeningHours)
                                {
                                    <li class="clearfix text-muted">
                                        <div class="float-left f-14">@hour.Days</div>
                                        <div class="float-right">
                                            @if (hour.BeginHour == "" && hour.EndHour == "")
                                            {
                                                <h5 class="f-13 mb-0">Closed</h5>
                                            }
                                            else
                                            {
                                                <h5 class="f-13 mb-0">@hour.BeginHour AM - @hour.EndHour PM</h5>
                                            }
                                        </div>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </div>

                <div class="job-detail mt-4 p-1">
                    <a href="#" class="btn btn-custom btn-block btn-sm">Apply For Job</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- JOB DETAILS END -->

@section scripts{

    <script src="~/Public/js/jquery.nice-select.min.js"></script>
}