@model  HomeVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-home" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo');">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="home-title text-center text-white">
                            <h5 class="small-title text-uppercase f-17 text-white-50 mb-4">Discover @Model.Setting.LogoName Today</h5>
                            <h1 class="mb-4">@Model.Setting.HomeTitle</h1>
                        </div>
                    </div>
                </div>
                <div class="home-form-position">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-registration-form p-4 mb-3">
                                @{Html.RenderPartial("~/Views/Shared/_Searching.cshtml"); }
                            </div>
                            <p class="text-white-50 mb-0"><span class="text-white">keywords :</span> Web designer, UI/UX designer, Graphic designer, Developer, PHP, Call center...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- popular category start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <h4>Popular Category</h4>
                    <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                    <div class="title-icon position-relative">
                        <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-white"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="popu-category-box bg-light rounded text-center mt-4 p-4">
                    <div class="popu-category-icon mb-3">
                        <i class="mdi mdi-account h2 text-custom"></i>
                    </div>
                    <div class="popu-category-content">
                        <h5 class="f-18 mb-4"><a href="@Url.Action("Index","Job")" class="text-dark">Developer</a></h5>
                        <p class="text-custom mb-0 rounded">@Model.Jobs.Where(j => j.Category.Name.Contains("Develop")).Count() Jobs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="popu-category-box bg-light rounded text-center mt-4 p-4">
                    <div class="popu-category-icon mb-3">
                        <i class="mdi mdi-desktop-classic h2 text-custom"></i>
                    </div>
                    <div class="popu-category-content">
                        <h5 class="f-18 mb-4"><a href="@Url.Action("Index","Job")" class="text-dark">Technology</a></h5>
                        <p class="text-custom mb-0 rounded">@(Model.Jobs.Where(j => j.Category.Name.Contains("Develop")).Count() + @Model.Jobs.Where(j => j.Category.Name.Contains("Dsign")).Count()) Jobs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="popu-category-box bg-light rounded text-center mt-4 p-4">
                    <div class="popu-category-icon mb-3">
                        <i class="mdi mdi-bank h2 text-custom"></i>
                    </div>
                    <div class="popu-category-content">
                        <h5 class="f-18 mb-4"><a href="@Url.Action("Index","Job")" class="text-dark">Government</a></h5>
                        <p class="text-custom mb-0 rounded">@Model.Jobs.Where(j => j.Category.Name.Contains("Gov")).Count() Jobs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="popu-category-box bg-light rounded text-center mt-4 p-4">
                    <div class="popu-category-icon mb-3">
                        <i class="mdi mdi-auto-fix h2 text-custom"></i>
                    </div>
                    <div class="popu-category-content">
                        <h5 class="f-18 mb-4"><a href="@Url.Action("Index","Job")" class="text-dark">All Jobs</a></h5>
                        <p class="text-custom mb-0 rounded">@Model.Jobs.Count + Jobs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- popular category end -->
<!-- all jobs start -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-5">
                    <h4>Find your Jobs</h4>
                    <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                    <div class="title-icon position-relative">
                        <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-light"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-pills job-tab justify-content-center mb-5" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="recent-job-tab" data-toggle="pill" href="#recent-job" role="tab" aria-controls="recent-job" aria-selected="true">Recent Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="featured-job-tab" data-toggle="pill" href="#featured-job" role="tab" aria-controls="featured-job" aria-selected="false">Develop Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="part-job-tab" data-toggle="pill" href="#part-job" role="tab" aria-controls="part-job" aria-selected="false">Part Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="full-job-tab" data-toggle="pill" href="#full-job" role="tab" aria-controls="full-job" aria-selected="false">Full Time</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="recent-job" role="tabpanel" aria-labelledby="recent-job-tab">
                        <div class="row mb-5">
                            <div class="col-lg-12">
                                @foreach (var job in Model.Jobs)
                                {
                                    <div class="job-box bg-white mt-4">
                                        <div class="p-4">
                                            <div class="row align-items-center">
                                                <div class="col-md-2">
                                                    <div class="mo-mb-2">
                                                        <img src="~/Uploads/images/@job.Photo" alt="" class="img-fluid mx-auto d-block">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <h5 class="f-18"><a href="#" class="text-dark">@job.Category.Name</a></h5>
                                                        <p class="text-muted mb-0">@job.CompanyName</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-custom mr-2"></i>@job.Address</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-custom">$</span>@(job.MinSalary?.ToString("#"))-@(job.MaxSalary?.ToString("#"))/m</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0">@job.JobType</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 bg-light">
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-md-4">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2">
                                                            <span class="text-dark">Experience :</span>
                                                            @if (job.JobExpYear == JobExpYear.One)
                                                            {
                                                                <span>1</span>;
                                                            }
                                                            else if (job.JobExpYear == JobExpYear.Two)
                                                            {
                                                                <span>2</span>;
                                                            }
                                                            else
                                                            {
                                                                <span>2</span>;
                                                            }
                                                            years
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <a href="@Url.Action("Details","Job",new { slug=job.Slug})" class="text-custom">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <i class="mdi mdi-chevron-double-left f-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="mdi mdi-chevron-double-right f-15"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="featured-job" role="tabpanel" aria-labelledby="featured-job-tab">
                        <div class="row mb-5">
                            <div class="col-lg-12">
                                @foreach (var job in Model.Jobs.Where(j => j.Category.Name.Contains("Dev")))
                                {
                                    <div class="job-box bg-white mt-4">
                                        <div class="p-4">
                                            <div class="row align-items-center">
                                                <div class="col-md-2">
                                                    <div class="mo-mb-2">
                                                        <img src="~/Uploads/images/@job.Photo" alt="" class="img-fluid mx-auto d-block">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <h5 class="f-18"><a href="#" class="text-dark">@job.Category.Name</a></h5>
                                                        <p class="text-muted mb-0">@job.CompanyName</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-custom mr-2"></i>@job.Address</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-custom">$</span>@(job.MinSalary?.ToString("#"))-@(job.MaxSalary?.ToString("#"))/m</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0">@job.JobType</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 bg-light">
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-md-4">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2">
                                                            <span class="text-dark">Experience :</span>
                                                            @if (job.JobExpYear == JobExpYear.One)
                                                            {
                                                                <span>1</span>;
                                                            }
                                                            else if (job.JobExpYear == JobExpYear.Two)
                                                            {
                                                                <span>2</span>;
                                                            }
                                                            else
                                                            {
                                                                <span>2</span>;
                                                            }
                                                            years
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <a href="@Url.Action("Details","Job",new { slug=job.Slug})" class="text-custom">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <i class="mdi mdi-chevron-double-left f-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="mdi mdi-chevron-double-right f-15"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="part-job" role="tabpanel" aria-labelledby="part-job-tab">
                        <div class="row mb-5">
                            <div class="col-lg-12">
                                <div class="col-lg-12">
                                    @foreach (var job in Model.Jobs.Where(j => j.JobType == JobType.Parttime))
                                    {
                                        <div class="job-box bg-white mt-4">
                                            <div class="p-4">
                                                <div class="row align-items-center">
                                                    <div class="col-md-2">
                                                        <div class="mo-mb-2">
                                                            <img src="~/Uploads/images/@job.Photo" alt="" class="img-fluid mx-auto d-block">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div>
                                                            <h5 class="f-18"><a href="#" class="text-dark">@job.Category.Name</a></h5>
                                                            <p class="text-muted mb-0">@job.CompanyName</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div>
                                                            <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-custom mr-2"></i>@job.Address</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div>
                                                            <p class="text-muted mb-0 mo-mb-2"><span class="text-custom">$</span>@(job.MinSalary?.ToString("#"))-@(job.MaxSalary?.ToString("#"))/m</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div>
                                                            <p class="text-muted mb-0">@job.JobType</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-3 bg-light">
                                                <div class="row d-flex justify-content-between">
                                                    <div class="col-md-4">
                                                        <div>
                                                            <p class="text-muted mb-0 mo-mb-2">
                                                                <span class="text-dark">Experience :</span>
                                                                @if (job.JobExpYear == JobExpYear.One)
                                                                {
                                                                    <span>1</span>;
                                                                }
                                                                else if (job.JobExpYear == JobExpYear.Two)
                                                                {
                                                                    <span>2</span>;
                                                                }
                                                                else
                                                                {
                                                                    <span>2</span>;
                                                                }
                                                                years
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div>
                                                            <a href="@Url.Action("Details","Job",new { slug=job.Slug})" class="text-custom">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <i class="mdi mdi-chevron-double-left f-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="mdi mdi-chevron-double-right f-15"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="full-job" role="tabpanel" aria-labelledby="full-job-tab">
                        <div class="row mb-5">
                            <div class="col-lg-12">
                                @foreach (var job in Model.Jobs.Where(j => j.JobType == JobType.Fulltime))
                                {
                                    <div class="job-box bg-white mt-4">
                                        <div class="p-4">
                                            <div class="row align-items-center">
                                                <div class="col-md-2">
                                                    <div class="mo-mb-2">
                                                        <img src="~/Uploads/images/@job.Photo" alt="" class="img-fluid mx-auto d-block">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <h5 class="f-18"><a href="#" class="text-dark">@job.Category.Name</a></h5>
                                                        <p class="text-muted mb-0">@job.CompanyName</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-custom mr-2"></i>@job.Address</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-custom">$</span>@(job.MinSalary?.ToString("#"))-@(job.MaxSalary?.ToString("#"))/m</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0">@job.JobType</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 bg-light">
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-md-4">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2">
                                                            <span class="text-dark">Experience :</span>
                                                            @if (job.JobExpYear == JobExpYear.One)
                                                            {
                                                                <span>1</span>;
                                                            }
                                                            else if (job.JobExpYear == JobExpYear.Two)
                                                            {
                                                                <span>2</span>;
                                                            }
                                                            else
                                                            {
                                                                <span>2</span>;
                                                            }
                                                            years
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <a href="@Url.Action("Details","Job",new { slug=job.Slug})" class="text-custom">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <!-- end row -->
                        <!-- Pagination-->
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <i class="mdi mdi-chevron-double-left f-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="mdi mdi-chevron-double-right f-15"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Pagination end-->
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end containar -->
</section>
<!-- all jobs end -->
<!-- How it Work start -->
<section class="section">
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="title text-center mb-4">
                        <h4>How It Work</h4>
                        <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                        <div class="title-icon position-relative">
                            <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-white"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.HowItWorks)
                {
                    <div class="col-lg-4">
                        <div class="how-it-work-box bg-light p-4 mt-4 text-center">
                            <div class="how-it-work-img mb-4">
                                <img src="~/Public/images/@item.Photo" alt="@item.Title" class="img-fluid mx-auto d-block">
                                <p>@item.OrderBy</p>
                            </div>
                            <div>
                                <h5 class="f-18">@item.Title</h5>
                                <p class="f-14 text-muted">@item.Content</p>
                                <a href="@Url.Action("About","Page")" class="text-custom">Read more <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- How it Work end -->
<!-- counter start -->
<section class="section bg-counter">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row" id="counter">
            <div class="col-lg-3 col-md-6">
                <div class="home-counter pt-3">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-bank h1 text-white"></i>
                    </div>
                    <div class="counter-content">
                        <h1 class="counter-value text-custom mb-1" data-count="@Model.Employers.Count()">10</h1>
                        <p class="counter-name text-white f-14 text-uppercase">Companies</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="home-counter pt-3">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-file-document-box h1 text-white"></i>
                    </div>
                    <div class="counter-content">
                        <h1 class="counter-value text-custom mb-1" data-count="@Model.BlogCounts">80</h1>
                        <p class="counter-name text-white f-14 text-uppercase">Blogs</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="home-counter pt-3">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-calendar-multiple-check h1 text-white"></i>
                    </div>
                    <div class="counter-content">
                        <h1 class="counter-value text-custom mb-1" data-count="@Model.Jobs.Count()">10</h1>
                        <p class="counter-name text-white f-14 text-uppercase">Job Posted</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="home-counter pt-3">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-account-multiple-plus h1 text-white"></i>
                    </div>
                    <div class="counter-content">
                        <h1 class="counter-value text-custom mb-1" data-count="@Model.Partners.Count()">10</h1>
                        <p class="counter-name text-white f-14 text-uppercase">Partners</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- counter end -->
<!-- testimonial start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <h4>Our Success Stories</h4>
                    <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                    <div class="title-icon position-relative">
                        <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-white"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-lg-12">
                <div id="owl-testi" class="owl-carousel owl-theme">
                    @foreach (var can in Model.Candidates)
                    {

                        <div class="item testi-box p-4 mr-3 ml-2 mb-4 bg-light position-relative">
                            <p class="text-muted mb-5">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consecteturqui adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam</p>
                            <div class="clearfix">
                                <div class="testi-img float-left mr-3">
                                    <img src="~/Public/images/@can.Photo" alt="@can.Slug" class="rounded-circle">
                                </div>
                                <h5 class="f-18 pt-1">@can.Firstname @can.Lastname</h5>
                                <p class="text-muted mb-0">@can.Profession</p>
                                <div class="testi-icon">
                                    <i class="mdi mdi-format-quote-open display-2"></i>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>

        <div class="row justify-content-center mt-5 pt-4">
            <div class="col-lg-8">
                <div class="text-center mb-4">
                    <h4>Our Client's</h4>
                    <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque totam rem aperiam eaque ipsa quae ab illo inventore veritatis et</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            @foreach (var par in Model.Partners)
            {
                <div class="col-md-3">
                    <div class="client-images">
                        <img src="~/Uploads/images/@par.Photo" alt="@par.Name" class="mx-auto img-fluid d-block">
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- testimonial end -->
<!-- blog start -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <h4>Career advice</h4>
                    <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                    <div class="title-icon position-relative">
                        <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-light"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var emp in Model.Employers.Take(3))
            {
                <div class="col-lg-4">
                    <div class="blog-box bg-white mt-4">
                        <div class="blog-img">
                            <img src="~/Uploads/images/@emp.CompanyPhotos.FirstOrDefault().Photo" alt="@emp.CompanyName" class="img-fluid mx-auto d-block">
                        </div>
                        <div class="blog-content p-4">
                            <h5 class="f-17 mb-3"><a href="@Url.Action("Details","Employer",new {slug=emp.Slug })" class="text-dark">@emp.CompanyName</a></h5>
                            @Html.Raw(emp.Services.Split('.').FirstOrDefault())
                        </div>
                        <div class="clearfix pl-4 pr-4">
                            <div class="float-left">
                                <p class="text-muted f-14"><i class="mdi mdi-calendar-today text-custom"></i>@emp.CreatedAt.ToString("dd MMM, yyyy")</p>
                            </div>
                            <div class="float-right">
                                <a href="@Url.Action("Details","Employer",new {slug=emp.Slug })" class="text-custom f-14">Read more..</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- blog end -->

@section scripts{
    <script src="~/Public/js/counter.int.js"></script>
}