@model IEnumerable<ASPFinal.Models.Employer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Control/Views/Shared/_LayoutControl.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class="btn btn-info"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            <img src="~/Uploads/images/@item.Photo" width="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @if (item.Status == true)
            {
                <span class="badge badge-success">Avtiv</span>
            }
            else
            {
                <span class="badge badge-danger">Deactive</span>
            }
        </td>
        <td>
            <a href="@Url.Action("Edit","employers",new { slug= item.Slug})"><i class="fas fa-edit"></i></a> |
            <a class="jobDelete" href="@Url.Action("delete","employers",new { slug= item.Slug})"><i class="fas fa-trash text-danger"></i></a>
        </td>
    </tr>
}

</table>
