@model IEnumerable<ASPFinal.Models.Experience>

@{
    ViewBag.Title = "Experience";
    Layout = "~/Areas/Control/Views/Shared/_LayoutControl.cshtml";
}

    <h2>Experience</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class="btn btn-info"})
</p>
<table class="table">
    <tr>
        <th>
            Fullname
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary) $
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Candidate.Firstname @item.Candidate.Lastname
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary) $
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            <a href="@Url.Action("edit","Experiences",new { id= item.Id})"><i class="fas fa-edit"></i></a> |
            <a class="jobDelete" href="@Url.Action("delete","Experiences",new { id= item.Id})"><i class="fas fa-trash text-danger"></i></a>
        </td>
    </tr>
}

</table>
